html, button, form{

    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
    position: relative;
    
}
    
html{
    
    background-color: white;
    
}
    
body{
    
    width: 600px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 20px 20px 20px;
    border: 5px solid aliceblue;
    box-shadow: 3px 3px 1px rgb(131, 135, 139);
    
}